

<div class="center jumbotron">
  <h1>Welcome to your AquaLet</h1>

  <h2>
    This is the home page for the
    Aqualet.
  </h2>
  <% if !logged_in? %>
  <%= link_to "Sign up now!", "/customers/new", class: "btn btn-lg btn-primary" %>
  <% end %>
</div>


